.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  min-width: 800px;
}

.modal-container {
  width: 100%;
  height: 60vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  position: relative;
}

.button-back {
  position: absolute;
  top: 10;
  left: 10;
  color: white;
}

.button-login {
  background: #f0b90b;
  border-radius: 5px;
}

.button-login :hover {
  background: red;
}

.image-styles {
  position: absolute;
  width: 350px;
  bottom: 0;
}

.form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
